body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#audio-feature-main {
  display: flex;
  flex-direction: column;
}

#audio-feature-header {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
}

#audio-feature-header h1 {
  margin: 0;
}
#audio-feature-header h5 {
  margin: 0;
}

.audio-feature-graph {
  display: flex;
  flex-direction: column;
  flex: auto;
  margin: 0.5em;
}

.audio-feature-graph h3 {
  margin: 0;
}

.audio-feature-graph svg {
  margin: 0.5em 0 0 0;
}

.audio-feature-track-details {
  display: flex;
  flex: auto;
  flex-direction: column;
  margin: 0.5em;
}

.audio-feature-settings {
  display: flex;
  flex-direction: row;
}

.audio-feature-settings div {
  display: flex;
  flex-direction: column;
  margin: 0.5em 0.5em 0.5em 0;
}

.selected-track-main {
  display: flex;
  flex-direction: column;
}

.selected-track-info {
  display: flex;
  flex-direction: row;
  margin: 0 0 0.5em 0;
}

.selected-track-info div {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.selected-track-info div h3 {
  margin: 0;
}
